.pointer{
    cursor: pointer;
}

.navigation.col-lg-12{
    margin-top: 10px; 
}

.jumbotron{
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #ccc
}

.navbar-nav .active{
    border-bottom: 3px solid orange !important;
}

.navbar-default .navbar-nav>li>a:hover{
    border-bottom: 3px solid orange;    
}

.navbar-default .navbar-nav>li>a{
    border-bottom: 3px solid transparent;    
}

.image_for_edit img{
    width: 60px
}

.avatar{
    width: 35px;
    height: 35px;
    border-radius: 700px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px;
}

.avatar img{
    height: 40px;
}

.btn_transiciones{
    padding: 10px;
    background: red;
    color: white;
    border-radius: 20px;
    border: 4px solid blue;
    transition: all 1s;
    display: block;
    width: 100px;
}

.btn_transiciones:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    background: #ccc;
    border: 1px solid red;
}

.caja_animada{
    margin-top: 15px;
    background: 5px green;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    /*animation-name:   rotacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;*/
}

@keyframes rotacion {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes deslizamiento2{
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 400px;
        background: red;
    }

    100% {
        margin-left: 0px;
        background: yellow;
    }
}

@keyframes deslizamiento{
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 400px;
        background: red;
    }
}